section {
    text-align: center;
    background-color: aquamarine;
}

body {
    /* background: url('../imagenes/fondo_grande.jpg') no-repeat center fixed; */
    /* 
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed; 
    */
    background-size: cover;

    /* background: rgba(101,34,189,1);
    background: -moz-linear-gradient(top, rgba(101,34,189,1) 0%, rgba(134,174,204,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(101,34,189,1)), color-stop(100%, rgba(134,174,204,1)));
    background: -webkit-linear-gradient(top, rgba(101,34,189,1) 0%, rgba(134,174,204,1) 100%);
    background: -o-linear-gradient(top, rgba(101,34,189,1) 0%, rgba(134,174,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(101,34,189,1) 0%, rgba(134,174,204,1) 100%);
    background: linear-gradient(to bottom, rgba(101,34,189,1) 0%, rgba(134,174,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6522bd', endColorstr='#86aecc', GradientType=0 ); */
}

.noticias {
    width: 100%;
    height: 100vh;
    background:url('../imagenes/fondo_grande.jpg');
    background-size: cover;
    background-position: center;
}

.altura {
    background: rgba(255, 255, 255, 0.7);
    /* height: 100px;
    overflow: auto; */
}