* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.contenedor {
    width: 80%;
    margin: auto;
}

header {
    background: lightcoral;
    padding: 15px 0;
    position: fixed;
    width: 100%;
}

header h1 {
    color: #fff;
    text-align: center;
}

header nav {
    text-align: center;
    margin-top: 10px;
}

header nav .menu li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

header nav .menu li a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

header nav .menu li a:hover {
    color: blue;
}

header nav .menu li .submenu {
    display: none;
    background: lightcoral;
    position: absolute;
    left: 0;
    width: 100px;
}

header nav .menu li .submenu li {
    display: block;
}

header nav .menu li:hover .submenu {
    display: block;
}

/* Pseudo-clase -->  :hover */

section {
    padding-top: 120px;
}