
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box }

html {scroll-behavior: smooth}

section.fondointro { background-color: black;    
        background-image: url("../imagenes/delay\ lama\ intro.jpeg");
        background-size: 10px;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 0px;
        display: inline-block;
        position: static;
        width: 100%;
        z-index: 1;
    }

body {text-align: center; }

h2{padding: 45px}
h2{background-color: rgba(216, 29, 122, 0.4);}
h2{font-size: 35px;}
h2{font-family: 'youth_fury_personal_useRg';}  
h2{color: rgb(245, 194, 245)}
h2{margin: 15px}

@font-face {
    font-family: 'youth_fury_personal_useRg';
    
    src: url('../fuentes/youth_fury_demo_personal_use-webfont.woff2') format('woff2'),
        
         url('../fuentes/youth_fury_demo_personal_use-webfont.woff') format('woff');
    
    font-weight: normal;
    font-style: normal;}

html {background-image: url("../imagenes/fotoalbum.jpg");
      background-attachment: fixed;
      background-position: center;
      background-size: cover;} 

.redessociales {font-size: 35px}
.reproductor   {margin-right: 75px}
.tapadisco     {margin-left: 75px}
.logo          {margin-left: auto;
               margin-right: auto}
.videointro   {margin-top: 25px}
.inicio       {text-align: left;
               word-spacing: 10px }
  
  header .barra_fija li {display: inline-block;
                        position: sticky;
                        text-align: center;
                        word-spacing: 20 px;  
                        margin: 0 20px;
                        padding-top: 10px;   
                        background-color: rgba(0, 0, 0, ,3);
                        top: 0.25px;
                        
                    

                                     }
header nav{position: fixed;
           display: block;
           top: 0;
           background-color: rgba(2, 0, 0, 0.4);
           width: 100vh  
        }                                         
 
}



 body{background-color: rgba(225, 225, 225 , 0.4)}

head{background-color: black}

footer{background-color: black;
       margin-bottom: 0px;
       color: white;   }
       

 
main p {padding: 45px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif }

 

 form {display: inline-block;
       position: relative;
       background: rgba(rgb(201, 144, 188), green, blue, alpha);
       font-family: Arial, Helvetica, sans-serif;
       text-align: right;
       padding-top: 40px;
       width: 250px;
       height: 70px;
       border: 99px solid rgba(0, 0, 0, ,3);
       padding-top:  100px;
       font-size: 43px;
       font-weight: lighter;
       text-align: center    
    }

header {
    background-image: url(../imagenes/delay\ lama\ intro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    height: 350px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    color: blanchedalmond;
    font-family:'Racing Sans One', cursive;
    font-size: 30px;
    margin-top: 10px;

  }
}

header nav {
    width: 100%;
    display: inline-block;
    position: sticky;
    text-align: center;
    word-spacing: 20 px;  
     margin: 0 20px;
     padding-top: 10px;   
     background-color: rgba(0, 0, 0, ,3);
     top: 0.25px;
     color: blanchedalmond;
}

ul:hover li a { transform: scale(1.5);
    opacity: .5; 
    filter: blur(3px);
 }

ul li a:hover { transform: scale(2);
   opacity: 1; 
   filter: blur(0); ul:hover li a { transform: scale(1.5);
    opacity: .5; 
    filter: blur(3px);
 }

ul li a:hover { transform: scale(2);
   opacity: 1; 
   filter: blur(0);  
   }

 header ul li a:hover  {color:#871287}
header ul li a:active {color: palevioletred}

header form {
    position: absolute;
    right: 20px;
    top: 40%;
}








